openapi: 3.1.0
info:
  title: iPRD GitHub Actions Connector
  description: Trigger and check iPRD GitHub Actions workflow runs.
  version: 1.0.1
servers:
  - url: https://api.github.com
security:
  - bearerAuth: []
paths:
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      tags:
        - actions
      summary: Trigger iPRD publish workflow
      operationId: deployIprdPage
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
            enum: [RBX-Labs]
            default: RBX-Labs
        - name: repo
          in: path
          required: true
          schema:
            type: string
            enum: [iPRD]
            default: iPRD
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            enum: [publish-iprd.yml]
            default: publish-iprd.yml
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowDispatchRequest'
      responses:
        "204":
          description: Workflow dispatch accepted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Repository or workflow not found

  /repos/{owner}/{repo}/actions/runs:
    get:
      tags:
        - actions
      summary: List workflow runs
      operationId: listIprdWorkflowRuns
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
            enum: [RBX-Labs]
            default: RBX-Labs
        - name: repo
          in: path
          required: true
          schema:
            type: string
            enum: [iPRD]
            default: iPRD
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - in_progress
              - completed
        - name: branch
          in: query
          required: false
          schema:
            type: string
            default: main
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunsResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PersonalAccessToken

  schemas:
    WorkflowDispatchRequest:
      type: object
      required:
        - ref
        - inputs
      properties:
        ref:
          type: string
          default: main
        inputs:
          $ref: '#/components/schemas/PublishInputs'

    PublishInputs:
      type: object
      required:
        - slug
        - title
        - html_base64
      properties:
        slug:
          type: string
          description: URL slug (letters, numbers, hyphen only).
          example: AI-index
        title:
          type: string
          example: AI Features
        html_base64:
          type: string
          description: Base64-encoded full HTML content.
          example: PCFET0NUWVBFIGh0bWw+Li4u

    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRun'

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        path:
          type: string
        event:
          type: string
        status:
          type: string
        conclusion:
          anyOf:
            - type: string
            - type: "null"
        head_branch:
          type: string
        html_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
